body{
    margin: auto;
}
table{
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
}
th, td {
    border: 1px dotted black;
}
.small-data, .big-data{
    display: inline-block;
    margin-left: 50px;
    text-decoration: none;
    color:black;
    border: 1px solid black;
    padding: 5px 5px;
}
.small-data:hover, .big-data:hover{
    color: white;
    background-color: black;
}
.th1{
    display: none;
}
.s{
    float: right;
    display: inline-block;
    width: 15px;
    height: 15px;
}

.nav-but{
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid black;
    background-repeat: no-repeat;
    cursor: pointer;
}

#left  {

    background-image: url("/app/img/back.svg");
}
#right{
    background-image: url("/app/img/next.svg");
}
.nav-block{
    display: none;
    margin-left: 50px;
}
.counter{
    display: inline-block;
}
.error-block{
    display: none;
    margin-top: 20px;
    font-size: 26px;
    color: red;
}

.search {
    display: none;
    margin-top: 10px;
    margin-left: 50px;
}
.search-but{
    margin-left: 10px;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 10px;
    color: black;
}

.out-data {
    margin-left: 50px;
    margin-bottom: 50px;
}

.out-data  textarea{
    width: 250px;
    height: 100px;
}
.overlay-loader {
    display: none;
    width: 150px;
    height: 150px;
}
.cur_field{
    background-color: grey;
}
.add-but{
    margin-left: 50px;
    margin-top: 20px;
    display: none;
}
.add-data{
    display: none;
    margin-left: 50px;
}
.loader {
    width: 150px;
    height: 150px;
    animation-name: rotateAnim;
    -o-animation-name: rotateAnim;
    -ms-animation-name: rotateAnim;
    -webkit-animation-name: rotateAnim;
    -moz-animation-name: rotateAnim;
    animation-duration: 1.3s;
    -o-animation-duration: 1.3s;
    -ms-animation-duration: 1.3s;
    -webkit-animation-duration: 1.3s;
    -moz-animation-duration: 1.3s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
.loader div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid rgb(0,0,0);
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.loader div:nth-child(odd) {
    border-top: none;
    border-left: none;
}
.loader div:nth-child(even) {
    border-bottom: none;
    border-right: none;
}
.loader div:nth-child(2) {
    border-width: 3px;
    left: 0px;
    top: -6px;
    width: 18px;
    height: 18px;
}
.loader div:nth-child(3) {
    border-width: 3px;
    left: -2px;
    top: 5px;
    width: 27px;
    height: 27px;
}
.loader div:nth-child(4) {
    border-width: 5px;
    left: -2px;
    top: -6px;
    width: 36px;
    height: 36px;
}
.loader div:nth-child(5) {
    border-width: 5px;
    left: -2px;
    top: 6px;
    width: 48px;
    height: 48px;
}
.loader div:nth-child(6) {
    border-width: 6px;
    left: 0px;
    top: -6px;
    width: 60px;
    height: 60px;
}
.loader div:nth-child(7) {
    border-width: 6px;
    left: 0px;
    top: 9px;
    width: 75px;
    height: 75px;
}


@keyframes rotateAnim {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@-o-keyframes rotateAnim {
    from {
        -o-transform: rotate(360deg);
    }
    to {
        -o-transform: rotate(0deg);
    }
}

@-ms-keyframes rotateAnim {
    from {
        -ms-transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0deg);
    }
}

@-webkit-keyframes rotateAnim {
    from {
        -webkit-transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes rotateAnim {
    from {
        -moz-transform: rotate(360deg);
    }
    to {
        -moz-transform: rotate(0deg);
    }
}